
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    

  <span class="navbar-brand mb-0 h1 text-white p-2 border-right"> <i class="bi bi-phone p-1"></i>Imobile</span>
  <a class=" text-white" href="/"> <i class="bi bi-house p-1"></i>Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     
      <li class="nav-item">
        <a class="nav-link text-white" href="/shopping-cart">
          <i class="fas fa-shopping-cart"></i>
          Shopping-cart
          <span class="badge badge-pill badge-primary">{{totalProducts}}</span>
          </a>
      </li>

      {{#if checkuser}}
      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         
         
          <i class="fas fa-user"></i>
          User-mangment
        </a>
        {{else}}

      <li class="nav-item dropdown">

  <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">


    <i class="fas fa-user"></i>
     Login
  </a>
{{/if}}

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#if checkuser}}
            {{#if checkProfile}}
              <a class="dropdown-item" href="/users/logout" > <i class="fas fa-sign-out-alt"></i> Logout</a>
              {{else}}
              <a class="dropdown-item" href="/users/profile"> <i class="fas fa-address-card"></i> Profile</a>
              <a class="dropdown-item" href="/users/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
            {{/if}}
            
          {{else}}
            
            <a class="dropdown-item" href="/users/signup"> <i class="fas fa-user-plus "></i> Signup</a>
           <a class="dropdown-item" href="/users/signin"> <i class="fas fa-sign-in-alt"></i> login</a>
           <a class="dropdown-item" href="/admin/signin"> <i class="bi bi-person-x-fill"></i> Staff only</a>
          
          {{/if}}  
      </li>
    </ul>
  </div>
</nav>